.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    color: #3a1019;
}

.modal-close {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body img {
    max-width: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.inf-modal {
    display: flex;
    gap: 20px;
}

.inf-modal p {
    width: 100%;
    padding: 20px;
    background: #3a1019;
    margin-bottom: 20px;
    color: white;
}

.inf-modal strong {
    color: #d1d1d1;
}
